<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html;charset=utf-8">
	<meta name="viewport"   content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no"/>
	<meta name="format-detection" content="email=no"/>

	<link href="../../../../resources/css/signin/mall.css" rel="stylesheet"/>
	<script src="../../../../resources/js/signin/jquery-1.11.0.min.js"></script>
	<script src="../../../../resources/js/signin/flexible.js"></script>
	<title>流量详情</title> <!-- 详情 xQ -->
</head>
<body>
	<div class="allFriend">
		<img class="friendBack" src="../../../../resources/images/signin/friend.png"/>
		<img class="ewm" src="../../../../resources/images/signin/ewm.png"/>
	</div>
</body>
</html>