<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html;charset=utf-8">
	<meta name="viewport"   content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no"/>
	<meta name="format-detection" content="email=no"/>

	<link href="../../../../resources/css/signin/mall.css" rel="stylesheet"/>
	<script src="../../../../resources/js/signin/jquery-1.11.0.min.js"></script>
	<script src="../../../../resources/js/signin/flexible.js"></script>
	<script src="../../../../resources/js/signin/llxq.js"></script>
	<title>流量详情</title> <!-- 详情 xQ -->
</head>
<body>
	<div class="all">
		<div class="head">
			<div class="count">
				<p class="wxName"></p>
				<p class="nowLl">当前流量:<span>100M</span></p>
				<p class="llNo">离流量清零还剩:&nbsp;<span>00天00小时00分</span></p>
			</div>
			<span class="nd"><img src=""/></span>
		</div>
		<div class="xQTitle">
			<img src="../../../../resources/images/signin/zy1.png"/>
		</div>
		<div class="xQList">
			<ul>
				<!-- <li>
					<div class="divS"></div>
					<p class="p1">2017/9/10 06:12:23</p>
					<p class="p3">打卡成功</p>
					<p class="p2">+<span id="xQLower">10M</span>流量</p>
				</li> -->
			</ul>
		</div>
		<div class="divS1"></div>
		<div class="footerC">
			<img src="../../../../resources/images/signin/xq.png"/>
		</div>
	</div>
</body>
</html>