<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html;charset=utf-8">
	<meta name="viewport"   content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no"/>
	<meta name="format-detection" content="email=no"/>

	<link href="../../../../resources/css/signin/mall.css" rel="stylesheet"/>
	<script src="../../../../resources/js/signin/jquery-1.11.0.min.js"></script>
	<script src="../../../../resources/js/signin/flexible.js"></script>
	<script src="../../../../resources/js/signin/mall.js"></script>
	<title>兑换商城</title>
</head>
<body>
	<div class="all">
		<div class="head">
			<div class="count">
				<p class="wxName"</p>
				<p class="nowLl">当前流量:<span></span></p>
				<p class="llNo">离流量清零还剩:&nbsp;<span>5天10小时26分</span></p>
			</div>
			<span class="nd"><img src=""/></span>
		</div>
		<div class="mid">
			<img src="../../../../resources/images/signin/mallmid.png"/>
			<span id="llxq"></span>
			<span id="dhjl"></span>
			<div class="div1"></div>
		</div>
		<div class="context">
			<div class="contextHead">
				<img src="../../../../resources/images/signin/gift.png"/>
			</div>
			<div class="giftAll">
				<div class="giftOne">
					<img src="../../../../resources/images/signin/100M.png"/>
					<p class="p1">目前兑换量</p>
					<p class="p2"><span>1234</span>份</p>
					<span class="giftTurn" id="gift100M">立即兑换</span>
				</div>
				<div class="giftTwo">
					<img src="../../../../resources/images/signin/200M.png"/>
					<p class="p1">目前兑换量</p>
					<p class="p2"><span>1234</span>份</p>
					<span class="giftTurn" id="gift200M">立即兑换</span>
				</div>
				<div class="giftThree">
					<img src="../../../../resources/images/signin/300M.png"/>
					<p class="p1">目前兑换量</p>
					<p class="p2"><span>1234</span>份</p>
					<span class="giftTurn" id="gift300M">立即兑换</span>
				</div>
				<div class="giftFour">
					<img src="../../../../resources/images/signin/500M.png"/>
					<p class="p1">目前兑换量</p>
					<p class="p2"><span>1234</span>份</p>
					<span class="giftTurn" id="gift500M">立即兑换</span>
				</div>
				<div class="giftFive">
					<img src="../../../../resources/images/signin/1G.png"/>
					<p class="p1">目前兑换量</p>
					<p class="p2"><span>1234</span>份</p>
					<span class="giftTurn" id="gift1G">立即兑换</span>
				</div>
			</div>
		</div>
		<div class="footer">
			<img src="../../../../resources/images/signin/giftrules.png"/>
		</div>
	</div>
	<div class="hide"></div>
	<div class="dhuan">
		<p class="p1">兑换成功！</p>
		<p class="p2">流量券奖励将于7个工作日内赠送至您的手机营业厅APP内</p>
	</div>
</body>
</html>