<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.jess.template.jxwxInterface.dao.SpringFestivalInfoMapper" >
  <resultMap id="BaseResultMap" type="pers.jess.template.jxwxInterface.model.SpringFestivalInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="award" property="award" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="period" property="period" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, phone, openid, award, gmt_create, gmt_modified, period
  </sql>
  <select id="listInfo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_springfestival_info
    where phone = #{phone,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="pers.jess.template.jxwxInterface.model.SpringFestivalInfo" >
    insert into t_springfestival_info (id, phone, openid, 
      award, gmt_create, gmt_modified, 
      period)
    values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{award,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{period,jdbcType=INTEGER})
  </insert>

 <select id="queryAmount" resultType="java.lang.Integer" parameterType="java.lang.Integer">
   select count(*) from t_springfestival_info where period =  #{period,jdbcType=INTEGER}
 </select>
</mapper>