<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html;charset=utf-8">
	<meta name="viewport"   content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no"/>
	<meta name="format-detection" content="email=no"/>

	<link href="css/index.css" rel="stylesheet"/>
	<script src="js/jquery-1.11.0.min.js"></script>
	<script src="js/flexible.js"></script>
	<title>秀洲区吐槽区</title>
</head>
<body>
	<div class="allN">
		<img class="head" src="image/head.png"/>
		<p class="pa">No.2&nbsp;嘉兴市秀洲区</p>
		<div class="nhq da tcAll">
			<div class="turnT">
				<ul id="xzqT">
					<li><div class="tu"><img src="image/xzq-1.jpg"></div></li>
					<li><div class="tu"><img src="image/xzq-2.jpg"></div></li>
					<li><div class="tu"><img src="image/xzq-3.jpg"></div></li>
					<li><div class="tu"><img src="image/xzq-4.jpg"></div></li>
				</ul>
			</div>
			<div class="tc">
				<textarea id="cont" rows="3" cols="20" maxlength="600" autofocus="autofocus" placeholder="您可将需要表达的意见或者建议在此输入框提交…（字数限制300字）"></textarea>
			</div>
			<span class="sub">立即提交</span>
			<div class="spM spX spTc">
				<span class="sp1 red"></span>
				<span class="sp2"></span>
				<span class="sp3"></span>
				<span class="sp4"></span>
			</div>
		</div>
	</div>
	<div class="tcRs">
		<div class="div1">
			<div>
				<p>请勿重复提交哦！</p>
			</div>			
		</div>
	</div>
	<div class="ruleDiv">
		<img src="image/rule.png"/>
		<div class="rule">
			<p>活动时间：<br>即日起-2018年1月20号</p>
			<p>活动对象：<br>全体嘉兴市民</p>
			<p>活动规则：<br>请在页面上给喜欢的单位投票哦，如果你有意见或者建议也可向我们吐槽。本次投票活动每期投放三个单位，您可选择其中一个为其投票助力哦~</p>
		</div>
		<span class="closeRule"></span>
	</div>
	<img class="ruleBtn" src="image/ruleBtn.png">
		<script>
		window.onload = function(){
			var winwidth = $(".allN").width();
	var liwidth = $(".da .turnT li").width();
	if(winwidth<375){
		//alert(winwidth);
		$(".spM").css("margin-top","-6.1rem");
	}
			$(".ruleBtn").bind("click",function(){
		$(".ruleDiv").show();
	});
	$(".closeRule").bind("click",function(){
		$(".ruleDiv").hide();
	});
	var x = 0;
	timerX = setInterval(function(){
		x++;
		var ll = x * liwidth;
		var s1 = x + 1;
		if(x<4){
			$("#xzqT").animate({marginLeft:"-"+ll},500);
			timer1 = setInterval(function(){
				$(".spX .red").removeClass("red");
				$(".spX .sp"+s1).addClass("red");
				clearInterval(timer1);
			},300);
		}else{
			$("#xzqT").css("margin-left","0rem");
			$(".spX .red").removeClass("red");
			$(".spX .sp1").addClass("red");
			x = 0;
		}	
	},2000);
			var rs = 0;
			var longW = $("#cont").val();
			$(".sub").bind("click",function(){
				if(rs==1){
					$(".div1 p").text("请勿重复提交哦！");
					$(".tcRs").show();
					tiemr = setInterval(function(){
						$(".tcRs").hide();
					},3000);
					return;
				}
				$(".div1 p").text("您的意见提交成功，非常感谢您的反馈！");
				$(".tcRs").show();
					tiemr = setInterval(function(){
						$(".tcRs").hide();
					},3000);
					rs=1;
			});
		}
	</script>
</body>
</html>