*{
	margin: 0;
	padding: 0;
}
div,img,span,table,p{
	margin:0;
	padding:0;
}
body {
    font-family:Helvetica;
    max-width: 100%;

}
select {
	 appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}

.all {width: 100%;height:19.9rem; position: absolute;}
.back {width: 100%;height: 100%; position: absolute;}
.loginDiv {box-sizing: border-box;width: 68%;height: 3.8rem;position: absolute;margin-left: 17%;margin-top: 8.5rem;}
.tel {width:100%;height: 1rem;border:0;border-radius: 5px;font-size: .4rem;}
.num {width: 45%;height: 1rem;border:0;border-radius: 5px;margin-top: .25rem;font-size: .4rem;}
#code {box-sizing: border-box;width: 45%;height: 1rem;display: block;margin-left: 55%;border-radius: 5px;color: white;font-size: .35rem;line-height: 1rem;text-align: center;margin-top: -1rem;background: red;border:0;
        background: -webkit-linear-gradient(left bottom, rgb(254,95,179) , rgb(253,189,53)); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(top right, rgb(254,95,179) , rgb(253,189,53)); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(top right, rgb(254,95,179) , rgb(253,189,53)); /* Firefox 3.6 - 15 */
        background: linear-gradient(to top right, rgb(254,95,179) , rgb(253,189,53)); /* 标准的语法（必须放在最后） */
      }
#login {box-sizing: border-box;width: 100%;height: 1rem;display: block;border-radius: 5px;color: white;font-size: .35rem;line-height: 1rem;text-align: center;margin-top: .25rem;background: red;border:0;
        background: -webkit-linear-gradient(left bottom, rgb(254,95,179) , rgb(253,189,53)); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(top right, rgb(254,95,179) , rgb(253,189,53)); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(top right, rgb(254,95,179) , rgb(253,189,53)); /* Firefox 3.6 - 15 */
        background: linear-gradient(to top right, rgb(254,95,179) , rgb(253,189,53)); /* 标准的语法（必须放在最后） */}

.ruleBack {box-sizing: border-box;width: 83%;height: 7rem;margin-left: 8.9%;background: rgb(88,60,198);position: absolute;margin-top: 12.7rem;border-radius: 7px;}
.ruleDiv {box-sizing: border-box;width: 79%;height: 6.6rem;position: absolute;margin-left: 11%;margin-top: 12.9rem;border:solid 1px rgb(108,81,207);overflow-x: hidden;overflow-y: scroll;}
.ruleDiv p {color: white;}
.ruleDiv .p1 {font-size: .5rem;font-weight: bolder;text-align: center;margin-top: .1rem;}
.ruleDiv .p2 {padding-left: .3rem;font-size: .34rem;padding-right: .1rem;}

.onceRs {width: 100%;height:100%; position: fixed;background: rgba(77,77,77,.7);display: none;/*padding-bottom: .2rem*/}
.onBack {box-sizing: border-box;width: 90%;height: 7rem;margin-left: 5%;background: rgb(88,60,198);margin-top: 3.8rem;border-radius: 7px;}
.jt {box-sizing: border-box;width: 85%;/*height: 6.6rem;*/position: absolute;margin-left: 2.5%;margin-top: .1rem;border:solid 1px rgb(108,81,207);/*overflow-x: hidden;overflow-y: scroll;*/padding-bottom:.2rem;border-radius: 7px;}
.jt .p1 {text-align: center;font-size: .45rem;color: white;margin-top: .2rem;}
.jt .p2 {padding-left: .2rem;padding-right: .2rem;color: white;font-size: .35rem;}
.jt .ps {margin-top: .2rem;}
.jt span {height: .95rem;float: left;width: 3.2rem;box-sizing: border-box;display: block;border-radius: 5px;font-size: .4rem;color: white;line-height: .95rem;text-align: center;
        background: -webkit-linear-gradient(left bottom, rgb(254,95,179) , rgb(253,189,53)); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(top right, rgb(254,95,179) , rgb(253,189,53)); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(top right, rgb(254,95,179) , rgb(253,189,53)); /* Firefox 3.6 - 15 */
        background: linear-gradient(to top right, rgb(254,95,179) , rgb(253,189,53)); /* 标准的语法（必须放在最后） */}
.jt .reset {margin-top: .5rem;margin-left: .5rem;}
.jt .oklogin {margin-top: .5rem;margin-left: 1.1rem;}

.rsSucc {width: 100%;height:100%; position: fixed;background: rgba(77,77,77,.7);display: none;}
.rsBack {box-sizing: border-box;width: 90%;height: 5rem;margin-left: 5%;background: rgb(88,60,198);margin-top: 4rem;border-radius: 7px;}
.rsJt {box-sizing: border-box;width: 85%;height: 4.6rem;position: absolute;margin-left: 2.5%;margin-top: .2rem;border:solid 1px rgb(108,81,207);overflow-x: hidden;overflow-y: scroll;border-radius: 7px;}
.rsJt .p1 {text-align: center;font-size: .5rem;color: white;margin-top: .4rem;font-weight: bolder;}
.rsJt .p2 {padding-left: .2rem;padding-right: .2rem;color: white;font-size: .35rem;margin-top: .3rem;}
.rsJt span {display: block;height: 1rem;box-sizing: border-box;position: absolute;width: 4rem;font-size: .45rem;color: white;line-height: 1rem;text-align: center;border-radius: 7px;margin-top: .5rem;margin-left: 2.3rem;
            background: -webkit-linear-gradient(left bottom, rgb(254,95,179) , rgb(253,189,53)); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(top right, rgb(254,95,179) , rgb(253,189,53)); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(top right, rgb(254,95,179) , rgb(253,189,53)); /* Firefox 3.6 - 15 */
        background: linear-gradient(to top right, rgb(254,95,179) , rgb(253,189,53)); /* 标准的语法（必须放在最后） */
}

.rsFalse {width: 100%;height:100%; position: fixed;background: rgba(77,77,77,.7);display: none;}
.rsFalse .p3 {text-align: center;margin-top: .5rem;}
.rsFalse .p4 {margin-top: 1rem;}