*{
	margin: 0;
	padding: 0;
}
a, button, input, textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input, textarea {
    -webkit-appearance: none;
}
div,img,span,table,p{
	margin:0;
	padding:0;
}
body {
    font-family:Helvetica
}

.all {width: 100%;height: 12.01rem;overflow: hidden;padding-bottom: 0.01rem;background:url(../../../images/star-sign/libra/allback.png);background-size:100%;background-repeat: no-repeat;position: absolute;}
.all div {position: relative;}
.head {width: 80%;margin-left: 0.6rem;margin-top: 0.3rem;}
.head img {width: 100%;}
.context {width: 64%;margin-top: 1.26rem;margin-left: 1.2rem;}
.context img {width: 100%;}
.gift {width: 80%;margin-top: -0.1rem;margin-left: 0.71rem;}
.gift img{width: 100%;}
.gift span {display: block;position: absolute;width: 1.3rem;height: 0.3rem;border-radius: 10px;z-index: 20;}
.M5 {margin-top: -1.2rem;margin-left: 0.6rem;}
.M6 {margin-top: -1.2rem;margin-left: 3.18rem;}
.footer {width: 55%;margin-left: 1.45rem;z-index: 15;}
.footer img {width: 100%;display: block;}/*改*/

.big {width: 6.4rem;height: 12.01rem;overflow: hidden;padding-bottom: 0.01rem;position: absolute;}
.big div {float: right;}
.bigOne {width:6.14rem;position: absolute;left: 5.29rem;}/*改*/
.ruleBtn {width: .38rem;margin-top: 7rem;}/*改*/
.ruleBtn img{width: 100%;;}
.rule {width: 5rem;height: 7rem;margin-top: 2rem;background:url(../../../images/star-sign/libra/rule2.jpg);background-size:100%;background-repeat: no-repeat;overflow: auto;}
.rule p {color: white;font-size: 0.2rem;padding-left: 0.4rem;padding-right: 0.4rem;}
.p1 {margin-top:0.5rem;}
.p2 {margin-top: 0.2rem;}
.p3 {margin-top: 0.2rem;}
.pN {margin-top: 0.06rem;line-height: 0.34rem;}
.sp {color: red;font-size: 0.24rem;}

.yanzheng{width:100%;height:12.01rem;overflow:hidden;position:absolute;top:0rem;z-index:10;background:rgba(0,0,0,0.6);display:none;}
.yanzheng1{width:100%;height:6.3rem;overflow:hidden;position:absolute;top:4rem;z-index:10;}
.yanzheng1 img{display: block;z-index: -1;width: 110%;margin-left: -0.25rem}
.yanzheng1 span{font-size:20px;margin-left:0.8rem;margin-top:-3.7rem;display:block;color:white;}
.yanzheng1 input {border-radius: 0.1rem;border:1px solid #999;padding: 0.1rem;position: absolute;}
.yanzheng1 .num {width: 70%;margin-left: 0.8rem;font-size: 0.3rem;margin-top: 0.2rem;}
.yanzheng1 div {width:90%;font-size: 0.25rem;margin-left:5%;}
.yanzheng1 div a {background-color:#386193;color:white;padding: 0.12rem 0;width: 30%;text-align: center;margin-left:2.95rem;z-index: 20;margin-top: 1rem;position: absolute;}
.yanzheng1 div input {width: 35%;font-size: 0.3rem;margin-left:0.18rem;margin-top: 0.98rem;z-index: 20;}
.yanzheng1 .now {width: 50%;margin-left: 25%;background-color: #386193;color:white;padding: 0.15rem 0;text-align: center;font-size: 0.25rem;margin-top: 1.5rem;position: absolute;}

.bangding{width:100%;height:12.1rem;overflow:hidden;position:absolute;top:0rem;z-index:10;background:rgba(0,0,0,0.6);display:none;}
.bangding img{width: 85%;margin-top:50%;margin-left:0.5rem;position: fixed;}

.gift1{width:100%;height:12.01rem;overflow:hidden;position:absolute;top:0rem;z-index:10;background:rgba(0,0,0,0.6);display:none;}
.gift1 img{width: 80%;margin-top:1.6rem;margin-left:0.8rem;position: fixed;}
.gift1 span {width: 2.1rem;height: 0.64rem;display: block;margin-top: 6.8rem;margin-left: 2.3rem;border-radius: 10px;position: fixed;z-index: 20}

.noTpz{width:100%;height:12.01rem;overflow:hidden;position:absolute;top:0rem;z-index:10;background:rgba(0,0,0,0.6);display:none;}
.noTpz img{width: 110%;margin-top:3rem;margin-left:-0.25rem;position: fixed;z-index: -1;}
.noTpz p {color: white;font-weight: bolder;text-align: center;z-index: 10;padding-top: 0.1rem}
.noTpz .pT {font-size: 0.5rem;margin-top: 4.5rem;}
.noTpz .pT1 {font-size: 0.4rem;padding-left: 0.3rem;}
.llT {position: fixed;margin-left: 1.45rem;}

.nog{width:100%;height:12.01rem;overflow:hidden;position:absolute;top:0rem;z-index:10;background:rgba(0,0,0,0.6);display:none;text-align:center;}
.nogift {width:100%;height:6rem;overflow:hidden;position:absolute;top:3rem;z-index:10;display: none;}
.nogift img {width: 110%;display: block;position: fixed;margin-left: -0.28rem;z-index: -1;}
.nogift p {color: white;font-family: STHupo;font-weight: bolder;text-align: center;z-index: 10;padding-top: 0.1rem}
.nogift .pS {font-size: 0.5rem;margin-top: 4.5rem;}
.nogift .pS1 {font-size: 0.4rem;padding-left: 0.3rem;}
.ll {position: fixed;margin-left: 0.8rem;margin-top: -3rem;}

/*
转发页面*/
.fall {width: 100%;height: 18.37rem;overflow: hidden;padding-bottom: 0.01rem;background:url(../../../images/star-sign/libra/foward.png);background-size:100%;background-repeat: no-repeat;position: absolute;}
.fall .zt {width: 4.07rem;height: 0.66rem;display: block; border-radius: 10px;margin-left: 1.28rem;margin-top: 4.87rem;z-index: 20}/*改*/
.fall .zf {width: 97%;display: block;margin-top: 6.4rem;margin-left: 0.1rem;}/*改*/

.fg {width: 100%;height: 18.37rem;overflow: hidden;padding-bottom: 0.01rem;background: rgba(0,0,0,0.6);position: absolute;z-index: 10;display: none}
.fg img {width: 80%;display: block;margin-top: 1rem;margin-left: 0.6rem;z-index: -1;}
.fg p {color: white;font-size: 0.25rem;position: absolute;font-weight: bolder;}
.fg .p1 {margin-top: -3.3rem;margin-left: 1.9rem;}
.fg .p2 {margin-top: -2.9rem;margin-left: 2.1rem;}
.fg span{width: 2.07rem;height: 0.68rem;display: block;border-radius: 16px;margin-left: 2.18rem;margin-top: -1.07rem;z-index: 99;position: absolute;}


/*朋友页面*/
.pAll {width: 100%;height: 12.41rem;overflow: hidden;padding-bottom: 0.01rem;background:url(../../../images/star-sign/libra/friendback.png);background-size:100%;background-repeat: no-repeat;position: absolute;}
.pAll img {display: block;width: 100%;margin-top: 4rem;position: absolute;}

.f1 {width:90%;height:6rem;overflow:hidden;margin-top:4rem;margin-left:0.37rem;display:block;position: absolute;}
.f1 .hyyz {width:37%;margin-left:2.1rem;display:block;margin-top:1rem;}
.f1 #tel{width:80%;height:0.6rem;margin-left:0.7rem;margin-top:2rem;border-color:rgba(0,255,224,0.34);font-size:14pt;border-radius: 8px;background: rgb(52,82,108);color: white;}
.f1 #num {width:45%;height:0.6rem;margin-left:0.7rem;display:block;border-color:rgba(0,255,224,0.34);font-size:13pt;margin-top:0.3rem;border-radius: 8px;background: rgb(52,82,108);color: white;}
.f1 #tnum {width:34%;height:0.85rem;display:block;margin-top:-0.79rem;margin-left:3.6rem;background:url(../../../images/star-sign/libra/ziyuan4.png);background-size:cover;font-size:0.2rem;color:white;text-align:center;line-height:1rem;}
.f1 .ljyz {width:81%;margin-left:0.7rem;display:block;margin-top:0.3rem;}
.f1 .cj {width:81%;margin-left:0.7rem;display:block;margin-top:1.2rem;}

.fewm {width: 100%;height: 12.41rem;overflow: hidden;padding-bottom: 0.01rem;background: rgba(0,0,0,0.6); position: absolute;display: none;}
.ewm1 {width:100%;height:8rem; margin-top:2.5rem;overflow: hidden;background:url(../../../images/star-sign/libra/ewmb.png);background-size:cover;text-align:center;}
.ewm1 #guan {width:20%;display:block;margin-left:5.3rem;}
.ewm1 .tlt{font-size:22px;color:white;display:block;margin-top:0.4rem;}
.ewm1 .content {font-size:17px;color:white;}
.ewm1 span {color:red;font-family:STHeiti;}
.ewm1 .kong {font-size:15px;}
.ewm1 .ewmt {width:60%;display:block;margin-top:0.5rem;margin-left:1.35rem;}
.ewm1 #kong {display:block;margin-left:6.35rem;margin-top:-1.39rem;width:1rem;height:1rem;}

.myyz {width:90%;height:10rem;overflow:hidden;margin-top:4rem;margin-left:0.5rem;display:none;}
.myyz p{font-size:16px;color:white;text-align:center;margin-top:1.9rem; font-family:STHeiti; letter-spacing:0.01rem;padding-left:0.1rem;padding-right:0.1rem; }
.myyz .tp {font-size:20px;margin-top:0.1rem;}
.myyz span {display:block;height:0.2rem;}
.myyz .cj0 {width:30%;margin-left:2rem;display:block;margin-top:0.4rem;}
.myyz .cj {width:70%;margin-left:0.6rem;display:block;margin-top:2.5rem;}

