*{
	margin: 0;
	padding: 0;
}
a, button, input, textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input, textarea {
    -webkit-appearance: none;
}
div,img,span,table,p{
	margin:0;
	padding:0;
}
body {
    font-family:Helvetica;
    max-width: 100%;
}

.all {width: 100%;height: 17.7rem; overflow: hidden;padding-bottom: 0.01rem;background: rgb(255,255,255);position: absolute;}
.head {width: 100%;overflow: hidden;padding-bottom: 0.01rem;position: relative;}
.head .hd {width: 100%;}
.head span {display: block;width: 1.8rem;height: 1.8rem;border:solid 1px red;position: absolute;border-radius: 50%;margin-left: 40%;margin-top: -3.6rem;}
.nd {width: 100%;height: 100%;display: block;border-radius: 50%;}
.head p{font-size: 0.4rem;position: absolute;margin-top: -1.3rem;margin-left: 41.5%;font-weight: bold;}

.ruleI {width: 100%;}
.ruleI p{font-size: 0.4rem;padding-left: 0.6rem;padding-right: 0.5rem;color: #909090;margin-top: 0.3rem;}
/*.ruleI #ruleD {width: 90%;height: 1rem;display: block;border-radius: 5px;background: rgb(239,207,75);text-align: center;color: white;line-height: 1rem;font-size: 0.5rem;margin-left:.5rem;margin-top: 0.5rem;font-weight: bolder;}
.ruleI #join {width: 90%;height: 1rem;display: block;border-radius: 5px;background: rgb(247,147,30);text-align: center;color: white;line-height: 1rem;font-size: 0.5rem;margin-left:.5rem;margin-top: 0.3rem;font-weight: bolder;}*/

.context{width: 100%;}
.context .p1 {font-size: 0.5rem;font-weight: bolder;margin-left: 0.5rem;margin-top: 0.3rem;}
.context .p2 {font-size: 0.4rem;color: #909090;margin-left: 0.5rem;margin-top: 0.1rem;}
.div2 {width: 90%;border: solid 1px rgba(128, 128, 128, 0.26);margin-top: .3rem;margin-left: .5rem;}
.list {width: 100%;}
.list p {font-size: 0.4rem;color: #909090;margin-left: 0.5rem;margin-top: .3rem;}
.list p span {color: red;}
.oneUl {list-style: none;margin-top: 0.3rem;margin-left: 0.6rem;}
.oneUl li {float: left;width: 0.85rem}
.oneUl span {width: 0.6rem;height: 0.6rem;border: solid 1px rgba(128, 128, 128, 0.26);display: block;border-radius: 12px;font-size: 0.5rem;text-align: center;line-height: 0.4rem;font-weight: bolder;}
.oneUl img {width: 100%;height: 100%;display: block;border-radius: 12px;}
.div3 {width: 90%;border: solid 1px rgba(128, 128, 128, 0.26);margin-top: 1.5rem;margin-left: .5rem;}

.footer {width: 100%;margin-top: 0.2rem;}
.footer .span1 {width: 90%;height: 1rem;display: block;border-radius: 5px;background: rgb(239,207,75);text-align: center;color: white;line-height: 1rem;font-size: 0.5rem;margin-left:.5rem;font-weight: bolder;}
.footer .span2 {width: 90%;height: 1rem;display: block;border-radius: 5px;background: rgb(247,147,30) /*rgb(179,179,179)*/;text-align: center;color: white;line-height: 1rem;font-size: 0.5rem;margin-left:.5rem;margin-top: 0.3rem;font-weight: bolder;}

.dk {width: 85%;position: absolute;margin-left: 7.5%;margin-top: 3rem;display: none;}
.dk img {width: 100%;height: 100%;display: block;}
.dk #num {font-size: 1.4rem;color: white;margin-top: -6.25rem;margin-left: 3.45rem;}
.dk #num1 {font-size: 0.4rem;color: #7A5B20;margin-top: .7rem;text-align: center;font-weight: bolder;}
.dk span {display: block;width: 100%;height: 0.9rem;position: absolute;margin-top: 2.4rem;}

.hide {width: 100%;height: 17.7rem;position: absolute;background:rgba(77,77,77,0.8);display: none;padding-bottom: 0.09rem;}
