.loader {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.container-one > div, .container-two > div, .container-three > div {
    width: 10px;
    height: 10px;
    background-color: #4C7FDC;

    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.loader .loader-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container-two {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.container-three {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.circle-one { top: 0; left: 0; }
.circle-two { top: 0; right: 0; }
.circle-three { right: 0; bottom: 0; }
.circle-four { left: 0; bottom: 0; }

.container-two .circle-one {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.container-three .circle-one {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.container-one .circle-two {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.container-two .circle-two {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.container-three .circle-two {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.container-one .circle-three {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.container-two .circle-three {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.container-three .circle-three {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.container-one .circle-four {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.container-two .circle-four {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.container-three .circle-four {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}